body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom right, #e9f0ff, #ffffff);
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 620px;
  padding: 40px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.back-btn {
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;
}

.login-title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}

.login-sub {
  margin: 5px 0 20px 0;
  color: #777;
  font-size: 14px;
}

.login-label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 15px;
}

.login-input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
}

.password-box {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 14px;
  cursor: pointer;
  color: #777;
}

.forgot-text {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  color: #4b5dff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  margin-top: 25px;
  padding: 16px;
  background: #4b5dff;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
}
